{% extends 'base.html.twig' %}

{% block title %}Donation Fail!{% endblock %}

{% block body %}

    {{ parent() }}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>Sorry Your Donation Failed !</h1>
    <p>
        We would appreciate your donation!
        But your payment failed :(
        <a href="notreatment.noreply@gmail.com">notreatment.noreply@gmail.com</a>.
    </p>

<div>
<br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
