{% extends 'base.html.twig' %}

{% block title %}Donation Success!{% endblock %}

{% block body %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    {{ parent() }}

   <center> <h1>Thanks for your Donation!</h1> 
    
    <p>
        We appreciate your Donation!
        If you have any questions, please e-mail:
        <a href="notreatment.noreply@gmail.com">notreatment.noreply@gmail.com</a>.
    </p>

<div></center>
<br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
